# Generic
# --------------------------
Thumbs.db
Desktop.ini
.directory
*.cache
*.old
*.log
*.tmp
*.zip
._
*~

# IDE Project Configurations
# --------------------------
nbproject
.idea
.settings
.vscode
.project
*.sublime-*

# Developments
# --------------------------
vendor
.php-version
clover.xml
_ide_helper.php
_book

# But Keep these
# --------------------------
!.gitkeep
